body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

table th {
    background-color: #f4f4f4;
}

button.cb {
    background-color: #5A3E2B;
    color:white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    width: 100%;
}

button.cb:hover {
    background-color: #4A2D1A;
}

.acciones-carrito {
    margin-top: 20px;
    text-align: center;
}
